@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

body{
  color: black;
  background-color:White;
  background-size: cover;
}
.signup{
  outline: 2px solid #d9d9d9;
    outline-offset: 25px;
  /* background-color: #666666; */
  padding: 5px;
  width: 450px;
  margin-left: 450px;
  /* margin-left: 180px; */
}
.inputid{
  width: 440px;
  text-align: center;
  font-family: Montserrat-Regular;
  border-top: 1px dashed #d9d9d9;
  border-bottom: 1px dashed #d9d9d9;
}

.keahlian{
  padding-left: 130px;
  width: 250px;
  padding-bottom: 60px;
}


.check-keahlian{
width: 250px;
}

.tmbledit{
  width: 440px;
  text-align: center;
  font-family: Montserrat-Regular;
}

kategori1{
width: 10px;
}

/* form{
  width: 440px;
  text-align: center;
  font-family: Montserrat-Regular;
} */

input{
  width: 340px;
  text-align: center;
  background: transparent;
  border: none;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: 1px solid #e6e6e6;
  color: #555555;
}

input[type=checkbox]{
  width: 30px;
  padding
  text-align: justify;

}

input[type=button]{
  border: none;
  font-size: 13px;
  width: 190px;
  background: black;
  color: white;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
  font-family: Montserrat-Regular;
  text-transform: Uppercase;
}
input[type=button]:hover{
  color: white;
  background-color: #e65540;
}
select{
  border: none;
  width: 240px;
  background: black;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: 200px;
  color: white;
  line-height: 10px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

h2{
  width: 440px;
  text-align: center;
  font-family: Montserrat-Regular;
  color: black;
  padding-bottom: 20px;
  font-family: Montserrat-Bold;
  text-transform: uppercase;
}
a{
  color: #cc0000;
  text-decoration: blink;
}
a:hover{
  color: skyblue;
}
